<html>
    <head>
        <title>Первый блог</title>
    </head>
    <body>
        <div>
            <h1><a href="/"Это мой первый блог</a></h1>
        </div>

        <div>
            p>published: 07.03.2023, 1:48</p>
            <h2><a href="">Мой первый блог</a></h2>
            <p>Привет,это мой первый блог на Django,сейчас я пишу на HTMl,надеюсь, я не умру и мой мозг не взорвется.</p>
        </div>

        <div>
            <p>published: 07.03.2023, 1:48</p>
            <h2><a href="">My second post</a></h2>
            <p>Hi,this is my first blog with Django,i write in HTML now,i hope i dont die and my brain dont crash.</p>
        </div>
    </body>
</html>
